<!-- blog/tag_post.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}「#{{ tag.name }}」の投稿一覧{{ block.super }}{% endblock %}

{% block content %}
<div class="container m-5">
  <div class="row">
    <div class="col-lg-8">
      <header>
        <h1 class="fw-bolder mb-1">「#{{ tag.name }}」の投稿一覧</h1>
      </header>
    </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-8">
<ul>
  {% for post in object_list %}
  {% if user.is_authenticated or post.is_public %}
  <li>{% if not post.is_public %}[下書き] {% endif %}<a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a></li>
  {% else %}
  <li>投稿はありません。</li>
  {% endif %}
  {% empty %}
  <li>まだ投稿はありません。</li>
  {% endfor %}
</ul>
</div>
</div>
</div>
{% endblock %}
